.container {
  width:600px;
  margin: auto;
  border: thin solid black;
  padding: 25px;
  background-color: lightblue;
}

.nav {
  display: flex;
  justify-content: space-around;
}

img {
  width: 600px;
}
  
